<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-iconset-svg/iron-iconset-svg.html">

<iron-iconset-svg name="chessalpha" size="24">
<svg><defs>
<g id="graphic">
    <path style="fill:#F44336;" d="M7.2,11.2c1.8,0,3.2,1.4,3.2,3.2S9,17.6,7.2,17.6S4,16.2,4,14.4S5.4,11.2,7.2,11.2"/>
    <path style="fill:#4487FF;" d="M14.8,16c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S13.7,16,14.8,16"/>
    <path style="fill:#4CAF52;" d="M15.2,4C17.9,4,20,6.1,20,8.8l0,0c0,2.6-2.1,4.8-4.8,4.8c-2.7,0-4.8-2.1-4.8-4.8l0,0C10.4,6.2,12.6,4,15.2,4z"/>
</g>
<g id="white-icon"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path></g>
<g id="black-icon"><path d="M19,3.3H5c-1.1,0-2,0.9-2,2v14c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2v-14C21,4.2,20.1,3.3,19,3.3z"></path></g>
<g id="board-icon"><path d="M19,3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2V5C21,3.9,20.1,3,19,3 M12,12h7v7h-7V12H5V5h7V12z"/></g>
<g id="board-icon-2"><path d="m0,0l12,0l0,24l12,0l0,-12l-24,0l0,-12z"/></g>
<g id="board" shape-rendering="crispEdges"><path d="m0,0l24,0l0,3l-24,0l0,-3zm0,6l24,0l0,3l-24,0l0,-3zm0,6l24,0l0,3l-24,0l0,-3zm0,6l24,0l0,3l-24,0l0,-3zm3,-18l0,24l3,0l0,-24l-3,0zm6,0l0,24l3,0l0,-24l-3,0zm6,0l0,24l3,0l0,-24l-3,0zm6,0l0,24l3,0l0,-24l-3,0z"/></g>
<g id="smallframeboard" shape-rendering="crispEdges"><path d="m0.48,0.48l23.04,0l0,2.88l-23.04,0l0,-2.88zm0,5.76l23.04,0l0,2.88l-23.04,0l0,-2.88zm0,5.76l23.04,0l0,2.88l-23.04,0l0,-2.88zm0,5.76l23.04,0l0,2.88l-23.04,0l0,-2.88zm2.88,-17.28l0,23.04l2.88,0l0,-23.04l-2.88,0zm5.76,0l0,23.04l2.88,0l0,-23.04l-2.88,0zm5.76,0l0,23.04l2.88,0l0,-23.04l-2.88,0zm5.76,0l0,23.04l2.88,0l0,-23.04l-2.88,0zm-20.16,0l23.04,0l0,23.04l-23.04,0l-0.04,0.04l23.12,0l0,-23.12l-23.12,0l0,23.12l0.04,-0.04l0,-23.04"/></g>
<g id="frameboard" shape-rendering="crispEdges">
	<path d="m1,1l22,0l0,2.75l-22,0l0,-2.75zm0,5.5l22,0l0,2.75l-22,0l0,-2.75zm0,5.5l22,0l0,2.75l-22,0l0,-2.75zm0,5.5l22,0l0,2.75l-22,0l0,-2.75zm2.75,-16.5l0,22l2.75,0l0,-22l-2.75,0zm5.5,0l0,22l2.75,0l0,-22l-2.75,0zm5.5,0l0,22l2.75,0l0,-22l-2.75,0zm5.5,0l0,22l2.75,0l0,-22l-2.75,0zm-19.25,0l22,0l0,22l-22,0l-0.04,0.04l22.08,0l0,-22.08l-22.08,0l0,22.08l0.04,-0.04l0,-22z"/>
	<text transform="matrix(1 0 0 1 2.259 0.6328)" font-size="0.48">a</text>
	<text transform="matrix(1 0 0 1 4.9887 0.6411)" font-size="0.48">b</text>
	<text transform="matrix(1 0 0 1 7.7675 0.6411)" font-size="0.48">c</text>
	<text transform="matrix(1 0 0 1 10.4897 0.6411)" font-size="0.48">d</text>
	<text transform="matrix(1 0 0 1 13.2534 0.6289)" font-size="0.48">e</text>
	<text transform="matrix(1 0 0 1 15.9831 0.6372)" font-size="0.48">f</text>
	<text transform="matrix(1 0 0 1 18.7619 0.6372)" font-size="0.48">g</text>
	<text transform="matrix(1 0 0 1 21.4841 0.6372)" font-size="0.48">h</text>
	<text transform="matrix(1 0 0 1 2.2544 23.6387)" font-size="0.48">a</text>
	<text transform="matrix(1 0 0 1 4.9841 23.647)" font-size="0.48">b</text>
	<text transform="matrix(1 0 0 1 7.7629 23.647)" font-size="0.48">c</text>
	<text transform="matrix(1 0 0 1 10.4851 23.647)" font-size="0.48">d</text>
	<text transform="matrix(1 0 0 1 13.2488 23.6348)" font-size="0.48">e</text>
	<text transform="matrix(1 0 0 1 15.9785 23.6431)" font-size="0.48">f</text>
	<text transform="matrix(1 0 0 1 18.7573 23.6431)" font-size="0.48">g</text>
	<text transform="matrix(1 0 0 1 21.4794 23.6431)" font-size="0.48">h</text>
	<text transform="matrix(1 0 0 1 0.377 2.5159)" font-size="0.48">8</text>
	<text transform="matrix(1 0 0 1 0.377 5.2659)" font-size="0.48">7</text>
	<text transform="matrix(1 0 0 1 0.377 8.0159)" font-size="0.48">6</text>
	<text transform="matrix(1 0 0 1 0.377 10.7658)" font-size="0.48">5</text>
	<text transform="matrix(1 0 0 1 0.377 13.516)" font-size="0.48">4</text>
	<text transform="matrix(1 0 0 1 0.377 16.266)" font-size="0.48">3</text>
	<text transform="matrix(1 0 0 1 0.377 19.016)" font-size="0.48">2</text>
	<text transform="matrix(1 0 0 1 0.377 21.766)" font-size="0.48">1</text>
	<text transform="matrix(1 0 0 1 23.377 2.5159)" font-size="0.48">8</text>
	<text transform="matrix(1 0 0 1 23.377 5.2659)" font-size="0.48">7</text>
	<text transform="matrix(1 0 0 1 23.377 8.0159)" font-size="0.48">6</text>
	<text transform="matrix(1 0 0 1 23.377 10.7658)" font-size="0.48">5</text>
	<text transform="matrix(1 0 0 1 23.377 13.516)" font-size="0.48">4</text>
	<text transform="matrix(1 0 0 1 23.377 16.266)" font-size="0.48">3</text>
	<text transform="matrix(1 0 0 1 23.377 19.016)" font-size="0.48">2</text>
	<text transform="matrix(1 0 0 1 23.377 21.766)" font-size="0.48">1</text>
</g>
<g id="frameboardreversed" shape-rendering="crispEdges">
	<path d="m1,1l22,0l0,2.75l-22,0l0,-2.75zm0,5.5l22,0l0,2.75l-22,0l0,-2.75zm0,5.5l22,0l0,2.75l-22,0l0,-2.75zm0,5.5l22,0l0,2.75l-22,0l0,-2.75zm2.75,-16.5l0,22l2.75,0l0,-22l-2.75,0zm5.5,0l0,22l2.75,0l0,-22l-2.75,0zm5.5,0l0,22l2.75,0l0,-22l-2.75,0zm5.5,0l0,22l2.75,0l0,-22l-2.75,0zm-19.25,0l22,0l0,22l-22,0l-0.04,0.04l22.08,0l0,-22.08l-22.08,0l0,22.08l0.04,-0.04l0,-22z"/>
	<text transform="matrix(1 0 0 1 2.259 0.6328)" font-size="0.48">h</text>
	<text transform="matrix(1 0 0 1 4.9887 0.6411)" font-size="0.48">g</text>
	<text transform="matrix(1 0 0 1 7.7675 0.6411)" font-size="0.48">f</text>
	<text transform="matrix(1 0 0 1 10.4897 0.6411)" font-size="0.48">e</text>
	<text transform="matrix(1 0 0 1 13.2534 0.6289)" font-size="0.48">d</text>
	<text transform="matrix(1 0 0 1 15.9831 0.6372)" font-size="0.48">c</text>
	<text transform="matrix(1 0 0 1 18.7619 0.6372)" font-size="0.48">b</text>
	<text transform="matrix(1 0 0 1 21.4841 0.6372)" font-size="0.48">a</text>
	<text transform="matrix(1 0 0 1 2.2544 23.6387)" font-size="0.48">h</text>
	<text transform="matrix(1 0 0 1 4.9841 23.647)" font-size="0.48">g</text>
	<text transform="matrix(1 0 0 1 7.7629 23.647)" font-size="0.48">f</text>
	<text transform="matrix(1 0 0 1 10.4851 23.647)" font-size="0.48">e</text>
	<text transform="matrix(1 0 0 1 13.2488 23.6348)" font-size="0.48">d</text>
	<text transform="matrix(1 0 0 1 15.9785 23.6431)" font-size="0.48">c</text>
	<text transform="matrix(1 0 0 1 18.7573 23.6431)" font-size="0.48">b</text>
	<text transform="matrix(1 0 0 1 21.4794 23.6431)" font-size="0.48">a</text>
	<text transform="matrix(1 0 0 1 0.377 2.5159)" font-size="0.48">1</text>
	<text transform="matrix(1 0 0 1 0.377 5.2659)" font-size="0.48">2</text>
	<text transform="matrix(1 0 0 1 0.377 8.0159)" font-size="0.48">3</text>
	<text transform="matrix(1 0 0 1 0.377 10.7658)" font-size="0.48">4</text>
	<text transform="matrix(1 0 0 1 0.377 13.516)" font-size="0.48">5</text>
	<text transform="matrix(1 0 0 1 0.377 16.266)" font-size="0.48">6</text>
	<text transform="matrix(1 0 0 1 0.377 19.016)" font-size="0.48">7</text>
	<text transform="matrix(1 0 0 1 0.377 21.766)" font-size="0.48">8</text>
	<text transform="matrix(1 0 0 1 23.377 2.5159)" font-size="0.48">1</text>
	<text transform="matrix(1 0 0 1 23.377 5.2659)" font-size="0.48">2</text>
	<text transform="matrix(1 0 0 1 23.377 8.0159)" font-size="0.48">3</text>
	<text transform="matrix(1 0 0 1 23.377 10.7658)" font-size="0.48">4</text>
	<text transform="matrix(1 0 0 1 23.377 13.516)" font-size="0.48">5</text>
	<text transform="matrix(1 0 0 1 23.377 16.266)" font-size="0.48">6</text>
	<text transform="matrix(1 0 0 1 23.377 19.016)" font-size="0.48">7</text>
	<text transform="matrix(1 0 0 1 23.377 21.766)" font-size="0.48">8</text>
</g>
</defs></svg>
</iron-iconset-svg>
<iron-iconset-svg name="chessalphapiece"size="45">
<svg><defs>
<g id="whitepawn"><path d="M 22,9 C 19.79,9 18,10.79 18,13 C 18,13.89 18.29,14.71 18.78,15.38 C 16.83,16.5 15.5,18.59 15.5,21 C 15.5,23.03 16.44,24.84 17.91,26.03 C 14.91,27.09 10.5,31.58 10.5,39.5 L 33.5,39.5 C 33.5,31.58 29.09,27.09 26.09,26.03 C 27.56,24.84 28.5,23.03 28.5,21 C 28.5,18.59 27.17,16.5 25.22,15.38 C 25.71,14.71 26,13.89 26,13 C 26,10.79 24.21,9 22,9 z "style="stroke:#000;stroke-width:1.5;stroke-linecap:round;"/></g>
<g id="whiteknight"style="stroke:#000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;"><path d="M 22,10 C 32.5,11 38.5,18 38,39 L 15,39 C 15,30 25,32.5 23,18"style="stroke:#000;"/><path d="M 24,18 C 24.38,20.91 18.45,25.37 16,27 C 13,29 13.18,31.34 11,31 C 9.958,30.06 12.41,27.96 11,28 C 10,28 11.19,29.23 10,30 C 9,30 5.997,31 6,26 C 6,24 12,14 12,14 C 12,14 13.89,12.1 14,10.5 C 13.27,9.506 13.5,8.5 13.5,7.5 C 14.5,6.5 16.5,10 16.5,10 L 18.5,10 C 18.5,10 19.28,8.008 21,7 C 22,7 22,10 22,10"style="stroke:#000;"/><path d="M 9.5 25.5 A 0.5 0.5 0 1 1 8.5,25.5 A 0.5 0.5 0 1 1 9.5 25.5 z"style="stroke:#000;fill:#000"/><path d="M 15 15.5 A 0.5 1.5 0 1 1  14,15.5 A 0.5 1.5 0 1 1  15 15.5 z"transform="matrix(0.866,0.5,-0.5,0.866,9.693,-5.173)"style="stroke:#000;"/></g>
<g id="whitebishop"style="stroke:#000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;"><g style="stroke:#000;"><path d="M 9,36 C 12.39,35.03 19.11,36.43 22.5,34 C 25.89,36.43 32.61,35.03 36,36 C 36,36 37.65,36.54 39,38 C 38.32,38.97 37.35,38.99 36,38.5 C 32.61,37.53 25.89,38.96 22.5,37.5 C 19.11,38.96 12.39,37.53 9,38.5 C 7.646,38.99 6.677,38.97 6,38 C 7.354,36.06 9,36 9,36 z"/><path d="M 15,32 C 17.5,34.5 27.5,34.5 30,32 C 30.5,30.5 30,30 30,30 C 30,27.5 27.5,26 27.5,26 C 33,24.5 33.5,14.5 22.5,10.5 C 11.5,14.5 12,24.5 17.5,26 C 17.5,26 15,27.5 15,30 C 15,30 14.5,30.5 15,32 z"/><path d="M 25 8 A 2.5 2.5 0 1 1  20,8 A 2.5 2.5 0 1 1  25 8 z"/></g><path d="M 17.5,26 L 27.5,26 M 15,30 L 30,30 M 22.5,15.5 L 22.5,20.5 M 20,18 L 25,18"style="stroke:#000;"/></g>
<g id="whiterook"style="stroke:#000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;"><path d="M 9,39 L 36,39 L 36,36 L 9,36 L 9,39 z "/><path d="M 12,36 L 12,32 L 33,32 L 33,36 L 12,36 z "/><path d="M 11,14 L 11,9 L 15,9 L 15,11 L 20,11 L 20,9 L 25,9 L 25,11 L 30,11 L 30,9 L 34,9 L 34,14"/><path d="M 34,14 L 31,17 L 14,17 L 11,14"/><path d="M 31,17 L 31,29.5 L 14,29.5 L 14,17"/><path d="M 31,29.5 L 32.5,32 L 12.5,32 L 14,29.5"/><path d="M 11,14 L 34,14"style="stroke:#000;"/></g>
<g id="whitequeen"style="stroke:#000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;"><path d="M 9 13 A 2 2 0 1 1  5,13 A 2 2 0 1 1  9 13 z"transform="translate(-1,-1)"/><path d="M 9 13 A 2 2 0 1 1  5,13 A 2 2 0 1 1  9 13 z"transform="translate(15.5,-5.5)"/><path d="M 9 13 A 2 2 0 1 1  5,13 A 2 2 0 1 1  9 13 z"transform="translate(32,-1)"/><path d="M 9 13 A 2 2 0 1 1  5,13 A 2 2 0 1 1  9 13 z"transform="translate(7,-4.5)"/><path d="M 9 13 A 2 2 0 1 1  5,13 A 2 2 0 1 1  9 13 z"transform="translate(24,-4)"/><path d="M 9,26 C 17.5,24.5 30,24.5 36,26 L 38,14 L 31,25 L 31,11 L 25.5,24.5 L 22.5,9.5 L 19.5,24.5 L 14,10.5 L 14,25 L 7,14 L 9,26 z "/><path d="M 9,26 C 9,28 10.5,28 11.5,30 C 12.5,31.5 12.5,31 12,33.5 C 10.5,34.5 10.5,36 10.5,36 C 9,37.5 11,38.5 11,38.5 C 17.5,39.5 27.5,39.5 34,38.5 C 34,38.5 35.5,37.5 34,36 C 34,36 34.5,34.5 33,33.5 C 32.5,31 32.5,31.5 33.5,30 C 34.5,28 36,28 36,26 C 27.5,24.5 17.5,24.5 9,26 z "/><path d="M 11.5,30 C 15,29 30,29 33.5,30"/><path d="M 12,33.5 C 18,32.5 27,32.5 33,33.5"/></g>
<g id="whiteking"style="stroke:#000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;"><path d="M 22.5,11.63 L 22.5,6"style="stroke:#000"/><path d="M 20,8 L 25,8"style="stroke:#000"/><path d="M 22.5,25 C 22.5,25 27,17.5 25.5,14.5 C 25.5,14.5 24.5,12 22.5,12 C 20.5,12 19.5,14.5 19.5,14.5 C 18,17.5 22.5,25 22.5,25"style="stroke:#000"/><path d="M 11.5,37 C 17,40.5 27,40.5 32.5,37 L 32.5,30 C 32.5,30 41.5,25.5 38.5,19.5 C 34.5,13 25,16 22.5,23.5 L 22.5,27 L 22.5,23.5 C 19,16 9.5,13 6.5,19.5 C 3.5,25.5 11.5,29.5 11.5,29.5 L 11.5,37 z "style="stroke:#000;"/><path d="M 11.5,30 C 17,27 27,27 32.5,30"style="fill:none;stroke:#000;"/><path d="M 11.5,33.5 C 17,30.5 27,30.5 32.5,33.5"style="fill:none;stroke:#000;"/><path d="M 11.5,37 C 17,34 27,34 32.5,37"style="fill:none;stroke:#000;"/></g>
<g id="blackpawn"><path d="M 22,9 C 19.79,9 18,10.79 18,13 C 18,13.89 18.29,14.71 18.78,15.38 C 16.83,16.5 15.5,18.59 15.5,21 C 15.5,23.03 16.44,24.84 17.91,26.03 C 14.91,27.09 10.5,31.58 10.5,39.5 L 33.5,39.5 C 33.5,31.58 29.09,27.09 26.09,26.03 C 27.56,24.84 28.5,23.03 28.5,21 C 28.5,18.59 27.17,16.5 25.22,15.38 C 25.71,14.71 26,13.89 26,13 C 26,10.79 24.21,9 22,9 z "style="stroke:#000;stroke-width:1.5;stroke-linecap:round"/></g>
<g id="blackknight"style="stroke:#000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;"><path d="M 22,10 C 32.5,11 38.5,18 38,39 L 15,39 C 15,30 25,32.5 23,18"style="stroke:#000;"/><path d="M 24,18 C 24.38,20.91 18.45,25.37 16,27 C 13,29 13.18,31.34 11,31 C 9.958,30.06 12.41,27.96 11,28 C 10,28 11.19,29.23 10,30 C 9,30 5.997,31 6,26 C 6,24 12,14 12,14 C 12,14 13.89,12.1 14,10.5 C 13.27,9.506 13.5,8.5 13.5,7.5 C 14.5,6.5 16.5,10 16.5,10 L 18.5,10 C 18.5,10 19.28,8.008 21,7 C 22,7 22,10 22,10"style="stroke:#000;"/><path d="M 9.5 25.5 A 0.5 0.5 0 1 1 8.5,25.5 A 0.5 0.5 0 1 1 9.5 25.5 z"style="fill:#fff;stroke:#fff"/><path d="M 15 15.5 A 0.5 1.5 0 1 1  14,15.5 A 0.5 1.5 0 1 1  15 15.5 z"transform="matrix(0.866,0.5,-0.5,0.866,9.693,-5.173)"style="fill:#fff;stroke:#fff;"/><path d="M 24.55,10.4 L 24.1,11.85 L 24.6,12 C 27.75,13 30.25,14.49 32.5,18.75 C 34.75,23.01 35.75,29.06 35.25,39 L 35.2,39.5 L 37.45,39.5 L 37.5,39 C 38,28.94 36.62,22.15 34.25,17.66 C 31.88,13.17 28.46,11.02 25.06,10.5 L 24.55,10.4 z "style="fill:#fff;stroke:none;"/></g>
<g id="blackbishop"style="stroke:#000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round"><g style="stroke:#000;"><path d="M 9,36 C 12.39,35.03 19.11,36.43 22.5,34 C 25.89,36.43 32.61,35.03 36,36 C 36,36 37.65,36.54 39,38 C 38.32,38.97 37.35,38.99 36,38.5 C 32.61,37.53 25.89,38.96 22.5,37.5 C 19.11,38.96 12.39,37.53 9,38.5 C 7.646,38.99 6.677,38.97 6,38 C 7.354,36.06 9,36 9,36 z"/><path d="M 15,32 C 17.5,34.5 27.5,34.5 30,32 C 30.5,30.5 30,30 30,30 C 30,27.5 27.5,26 27.5,26 C 33,24.5 33.5,14.5 22.5,10.5 C 11.5,14.5 12,24.5 17.5,26 C 17.5,26 15,27.5 15,30 C 15,30 14.5,30.5 15,32 z"/><path d="M 25 8 A 2.5 2.5 0 1 1  20,8 A 2.5 2.5 0 1 1  25 8 z"/></g><path d="M 17.5,26 L 27.5,26 M 15,30 L 30,30 M 22.5,15.5 L 22.5,20.5 M 20,18 L 25,18"style="stroke:#fff;"/></g>
<g id="blackrook"style="stroke:#000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round"><path d="M 9,39 L 36,39 L 36,36 L 9,36 L 9,39 z "/><path d="M 12.5,32 L 14,29.5 L 31,29.5 L 32.5,32 L 12.5,32 z "/><path d="M 12,36 L 12,32 L 33,32 L 33,36 L 12,36 z "/><path d="M 14,29.5 L 14,16.5 L 31,16.5 L 31,29.5 L 14,29.5 z "/><path d="M 14,16.5 L 11,14 L 34,14 L 31,16.5 L 14,16.5 z "/><path d="M 11,14 L 11,9 L 15,9 L 15,11 L 20,11 L 20,9 L 25,9 L 25,11 L 30,11 L 30,9 L 34,9 L 34,14 L 11,14 z "/><path d="M 12,35.5 L 33,35.5 L 33,35.5"style="stroke:#fff;stroke-width:1;"/><path d="M 13,31.5 L 32,31.5"style="stroke:#fff;stroke-width:1;"/><path d="M 14,29.5 L 31,29.5"style="stroke:#fff;stroke-width:1;"/><path d="M 14,16.5 L 31,16.5"style="stroke:#fff;stroke-width:1;"/><path d="M 11,14 L 34,14"style="stroke:#fff;stroke-width:1;"/></g>
<g id="blackqueen"style="stroke:#000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;">
<g style="stroke:none;"><circle cx="6"cy="12"r="2.75"/><circle cx="14"cy="9"r="2.75"/><circle cx="22.5"cy="8"r="2.75"/><circle cx="31"cy="9"r="2.75"/><circle cx="39"cy="12"r="2.75"/></g><path d="M 9,26 C 17.5,24.5 30,24.5 36,26 L 38.5,13.5 L 31,25 L 30.7,10.9 L 25.5,24.5 L 22.5,10 L 19.5,24.5 L 14.3,10.9 L 14,25 L 6.5,13.5 L 9,26 z"/><path d="M 9,26 C 9,28 10.5,28 11.5,30 C 12.5,31.5 12.5,31 12,33.5 C 10.5,34.5 10.5,36 10.5,36 C 9,37.5 11,38.5 11,38.5 C 17.5,39.5 27.5,39.5 34,38.5 C 34,38.5 35.5,37.5 34,36 C 34,36 34.5,34.5 33,33.5 C 32.5,31 32.5,31.5 33.5,30 C 34.5,28 36,28 36,26 C 27.5,24.5 17.5,24.5 9,26 z"/><path d="M 11,38.5 A 35,35 1 0 0 34,38.5"/><path d="M 11,29 A 35,35 1 0 1 34,29"style="fill:none;stroke:#fff;"/><path d="M 12.5,31.5 L 32.5,31.5"style="fill:none;stroke:#fff;"/><path d="M 11.5,34.5 A 35,35 1 0 0 33.5,34.5"style="fill:none;stroke:#fff;"/><path d="M 10.5,37.5 A 35,35 1 0 0 34.5,37.5"style="fill:none;stroke:#fff;"/></g>
<g id="blackking"style="stroke:#000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;"><path d="M 22.5,11.63 L 22.5,6"/><path d="M 22.5,25 C 22.5,25 27,17.5 25.5,14.5 C 25.5,14.5 24.5,12 22.5,12 C 20.5,12 19.5,14.5 19.5,14.5 C 18,17.5 22.5,25 22.5,25"/><path d="M 11.5,37 C 17,40.5 27,40.5 32.5,37 L 32.5,30 C 32.5,30 41.5,25.5 38.5,19.5 C 34.5,13 25,16 22.5,23.5 L 22.5,27 L 22.5,23.5 C 19,16 9.5,13 6.5,19.5 C 3.5,25.5 11.5,29.5 11.5,29.5 L 11.5,37 z "/><path d="M 20,8 L 25,8"/><path d="M 32,29.5 C 32,29.5 40.5,25.5 38.03,19.85 C 34.15,14 25,18 22.5,24.5 L 22.51,26.6 L 22.5,24.5 C 20,18 9.906,14 6.997,19.85 C 4.5,25.5 11.85,28.85 11.85,28.85"style="fill:none;stroke:#fff;"/><path d="M 11.5,30 C 17,27 27,27 32.5,30 M 11.5,33.5 C 17,30.5 27,30.5 32.5,33.5 M 11.5,37 C 17,34 27,34 32.5,37"style="fill:none;stroke:#fff;"/></g>
</defs></svg>
</iron-iconset-svg>